.addDebt,
.addCredit {
    margin: 1em;
    width: 90%;
}

.addCredit,
.addDebt,
.addCredit input,
.addDebt input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
}

.addCredit button,
.addDebt button {
    margin: 0.5em;
    width: 100%;
}