
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #52FFEE;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #DCFFFD;
}

.form-group {
    margin-top: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    background-color: #007bff;
    color: #ffffff;
}

.register-btn {
    background-color: #28a745;
    color: #ffffff;
}

.top-register-button{
    margin-left: 0.5rem;
}

.error {
    color: red;
}