body {
    background-color: aquamarine;
}

.container input{
    margin-right: 20px;
}
.showBalance,.addIncome,.addExpense,.extras,.graph{
    margin: 10%;
    display: flex;
    justify-content: center;
}
