* {
    margin: 0;
    background-color: #DCFFFD;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-body ,
.card-body h2,
.card-body h6,
.card-body #name,
.card-body #balance
{
    background-color: #52FFEE;
}

.custom-card {
    margin: 1em;
    width: 80%;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
}

.addIncome,
.addExpense,
.extras {
    margin: 1em;
    width: 80%;
}

.addIncome,
.addExpense,
.extras,
.addIncome input,
.addIncome select,
.addExpense input,
.addExpense select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.addIncome button,
.addExpense button,
.extras button {
    width: 100%;
}

.addIncome input,
.addIncome select,
.addExpense input,
.addExpense select {
    margin-bottom: 10px;
    width: calc(48% - 5px); 
}

.addIncomeError,
.addExpenseError {
    color: #D22B2B;
}
