* {
    margin: 0;
    background-color: #DCFFFD;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-body ,
.card-body h2,
.card-body h6,
.card-body #name,
.card-body #balance
{
    background-color: #52FFEE;
}

.custom-card {
    margin: 1em;
    width: 90%;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
}

.changeChart {
    width: 90%;
    margin-top: 1em;
}

.chartOptions {
    display: flex;
    width: 90%;
    margin: 1em;
}

.chartOptions select{
    margin-right: 0.5em;
    width: 50%
}

.addIncome,
.addExpense,
.extras {
    margin: 1em;
    width: 90%;
}

.addIncome,
.addExpense,
.extras,
.addIncome input,
.addIncome select,
.addExpense input,
.addExpense select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.addIncome button,
.addExpense button,
.extras button {
    width: 100%;
}

.extras {
    width: 90%;
}

.extras button {
    margin-top: -0.5em;
    margin-bottom: 2em;
}

.addIncome input,
.addIncome select,
.addExpense input,
.addExpense select {
    margin-bottom: 10px;
    width: calc(48% - 5px); 
}

.errorMessage h6 {
    color: #dc3545;
    font-size: 10pt;
}

.nochart {
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: thin;
}

.month-and-year{
    display: flex;
    margin: 1rem;
}

.month-and-year #month{
    margin-right: 1rem;
    margin-left: -0.25rem;
}

.month-and-year #year{
    margin-right: -0.25rem;
}

#incomeSections,
#expenseSections{
    margin-right: -1.5rem;
}